<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script src="/bootstrap3/js/bootstrap.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入bootstrap addTabs的css、js -->
    <link type="text/css" rel="stylesheet" href="/js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <form id="addForm" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="drugId" class="col-sm-4 control-label">药品编号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="drugId" name="drugId" placeholder="请输入药品编号">
                </div>
            </div>
            <div class="col-xs-6">
                <label for="drugName" class="col-sm-4 control-label">通用名</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="drugName" name="drugName" placeholder="请输入产品名称" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label for="drugForm" class="col-sm-4 control-label">剂型</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="drugForm" name="drugForm" placeholder="请输入剂型">
                </div>
            </div>
            <div class="col-xs-6">
                <label for="drugChara" class="col-sm-4 control-label">药品特征</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="drugChara" name="drugChara" placeholder="请输入药品特征" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label for="specification" class="col-sm-4 control-label">规格</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="specification" name="specification" placeholder="请输入规格">
                </div>
            </div>
            <div class="col-xs-6">
                <label for="conversion" class="col-sm-4 control-label">转换系数</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="conversion" name="conversion" placeholder="请输入转换系数" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label for="unit" class="col-sm-4 control-label">单位</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="unit" name="unit" placeholder="请输入单位">
                </div>
            </div>
            <div class="col-xs-6">
                <label for="packingUnit" class="col-sm-4 control-label">包装单位</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="packingUnit" name="packingUnit" placeholder="请输入包装单位" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label for="directoryType" class="col-sm-4 control-label">目录类型</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="directoryType" name="directoryType" placeholder="请输入目录类型">
                </div>
            </div>
            <div class="col-xs-6">
                <label for="manEnterprise" class="col-sm-4 control-label">生产企业</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="manEnterprise" name="manEnterprise" placeholder="请输入生产企业" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label for="shoEnterprise" class="col-sm-4 control-label">入围企业</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="shoEnterprise" name="shoEnterprise" placeholder="请输入围企业">
                </div>
            </div>
            <div class="col-xs-6">
                <label for="price" class="col-sm-4 control-label">采购价</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="price" name="price" placeholder="请输入采购价" >
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="col-xs-6">
                <label for="retail" class="col-sm-4 control-label">零售价</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="retail" name="retail" placeholder="请输入产品名称" >
                </div>
            </div>

        </div>
    </form>
</div>
</body>
</html>